<%- include('includes/head.ejs') %> <%- include('includes/nav.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Contact List 📘</h1>
      <p class="text-center lead">See your contacts below</p>

      <%- include('includes/messages') %>

      <div class="responsive-table">
        <table class="table my-3">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">E-mail</th>
              <th scope="col">Phone</th>
            </tr>
          </thead>
          <tbody>
            <% contacts.forEach(contact => { %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.surname %></td>
              <td><%= contact.email %></td>
              <td><%= contact.phone %></td>
              <td><a href="/contact/index/<%= contact._id %>">Edit</a></td>
              <td>
                <a class="text-danger" href="/contact/delete/<%= contact._id %>"
                  >Delete</a
                >
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer.ejs') %>
