<%- include('includes/head.ejs') %> <%- include('includes/nav.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Sign Up</h1>
      <p class="text-center lead">
        Create your account and enjoy your own contact-list.
      </p>

      <%- include('includes/messages') %>

      <div class="row">
        <div class="col-lg my-5">
          <h4>Sign Up</h4>
          <p>
            If you don't have an account yet, please fill out the form below.
          </p>
          <form id="signUpForm" action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="form-group">
              <label for="email-sign-up">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email-sign-up"
                aria-describedby="emailHelp"
                placeholder="Enter your email..."
                name="emailSignUp"
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-group">
              <label for="password-sign-up">Password</label>
              <input
                type="password"
                class="form-control"
                id="password-sign-up"
                name="passwordSignUp"
              />
            </div>
            <button type="submit" class="btn btn-primary">Regist</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer.ejs') %>
